@use '/src/styles/variables.scss' as *;
@use '/src/styles/mixins.scss' as *;

.button {
    border: 1px solid $color-sandy-brown-2;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button__header {
  font-size: 1.8rem;
  line-height: 130%;
  padding: 1.5rem 3rem;
  background-color: transparent;
  letter-spacing: 0.02em;


  @include vp-1679 {
    font-size: 1.6rem;
    line-height: auto;
    padding: 1.4rem 3rem;
    letter-spacing: 0.03em;
  }

  @include vp-1279 {
    font-size: 1.4rem;
    line-height: auto;
    padding: 1rem 1.5rem;
  }

    &:hover {
        background-color: $color-sazerac;
    }

    &:active {
        background-color: $color-tide;
    }
}

.button__banner {
  font-size: 1.8rem;
  line-height: auto;
  font-weight: 700;
  color: $color-default-white;
  background-color: $color-sandy-brown;
  padding: 1.5rem 3rem;
  letter-spacing: -0.5px;

  @include vp-1279 {
    font-size: 1.6rem;
  }

  @include vp-833 {
    font-size: 1.4rem;
  }

}

.button__question {
  font-size: 1.8rem;
  line-height: auto;
  font-weight: 700;
  color: $color-default-white;
  background-color: $color-night-rider-70;
  padding: 1.5rem 3rem;
  letter-spacing: -0.5px;
  margin-left: 4rem;

  @include vp-1279 {
    font-size: 1.6rem;
    margin-left: 2rem;
  }

  @include vp-833 {
    display: none;
  }
}
