@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.navbar__links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 235px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  opacity: 0;
  transform: translateY(-1rem);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: -10;

  padding: 2rem;

  &_active {
    opacity: 1;
    transform: translateY(1rem);
    z-index: 10;
  }
}

.navbar__link {
  font-size: 1.8rem;
  line-height: 130%;
  transition: color 0.3s ease-in-out;

  @include vp-1679 {
    font-size: 1.6rem;
    line-height: auto;
  }

  @include vp-1279 {
    font-size: 1.4rem;
    line-height: auto;
  }

  &:hover {
    color: $color-sandy-brown;
  }

  &:active {
    color: $color-dorado;
  }
}
