@use '/src/styles/mixins.scss' as *;
@use '/src/styles/variables.scss' as *;

.banner_main__image img {

  @include vp-1679 {
    object-fit: cover;
    object-position: center;
    @include size-height(802px, 900px, $vp-1280, $vp-1680);
  }

  @include vp-1279 {
    @include size-height(653px, 802px, $vp-834, $vp-1280);
  }

  @include vp-833 {
    @include size-height(653px, 653px, $vp-380, $vp-834)
  }

  @include vp-379 {
    height: 700px;
  }
}