@use '/src/styles/mixins.scss' as *;
@use '/src/styles/variables.scss' as *;

.banner_main__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.banner_main__image,
.banner_main__content {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}


.banner_main__image img {

  @include vp-1679 {
    object-fit: cover;
    object-position: center;
    @include size-height(802px, 900px, $vp-1280, $vp-1680);
  }

  @include vp-1279 {
    @include size-height(653px, 802px, $vp-834, $vp-1280);
  }

  @include vp-833 {
    @include size-height(653px, 653px, $vp-380, $vp-834);
    width: 100%;
    height: 700px;
  }
}

.banner_main__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  @include vp-1279 {
    grid-template-columns: 1fr 30%;
  }

  @include vp-833 {
    grid-template-columns: 1fr;
  }
}

.banner_main__content {
  align-self: flex-end;
  margin-bottom: 11.3rem;

  @include vp-1679 {
    margin-bottom: 14rem;
  }

  @include vp-1279 {
    margin-bottom: 10.5rem;
  }

  @include vp-833 {
    margin-bottom: 11.7rem;;
  }
}

.banner_main__title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;

  font-family: $ff-second;
  @include font-size(30px, 40px, $vp-1280, $vp-1680);
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: $color-default-white;
  text-transform: uppercase;

  @include vp-1279 {
    @include font-size(27px, 30px, $vp-834, $vp-1280);
  }

  @include vp-833 {
    @include font-size(16px, 27px, $vp-380, $vp-834);
  }
}

[id='banner-title'] {
  display: block;
  margin-bottom: -6.7rem;
  transform: translateY(-150px);
  opacity: 0;

  @include vp-1679 {
    margin-bottom: -7rem;
  }

  @include vp-1279 {
    margin-bottom: -5.5rem
  }

  @include vp-833 {
    margin-bottom: -2rem;
  }
}

[id='win'],
[id='dom'] {
  @include font-size(150px, 200px, $vp-1280, $vp-1680);
  color: $color-default-white;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  transform: translateY(-150px);
  opacity: 0 ;

  @include vp-1679 {
    margin-bottom: 1rem;
  }

  @include vp-1279 {
    @include font-size(120px, 150px, $vp-834, $vp-1280);
  }

  @include vp-833 {
    @include font-size(60px, 120px, $vp-380, $vp-834);
  }
}

[id='win'] {
  color: $color-sandy-brown;
}

.banner_main__slogan {
  @include font-size(24px, 32px, $vp-1280, $vp-1680);
  color: $color-default-white;
  margin: -6px 0 0 ;
  padding: 0;

  @include vp-1679 {
    margin: 8px 0 70px;
  }

  @include vp-1279 {
    @include font-size(20px, 24px, $vp-834, $vp-1280);
    margin: -0.5rem 0 6rem;
  }

  @include vp-833 {
    @include font-size(16px, 20px, $vp-380, $vp-834);
    margin: 0 0 5rem;
    width: 80%;
  }
}

.banner_main__buttons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: flex-end;
}

.banner_main__link {
  display: flex;
  justify-self: flex-end;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 6px;

  @include vp-1679 {
    margin-right: 35px;
  }

  @include vp-1023 {
    margin-right: 0;
  }

  @include vp-767 {
    position: absolute;
    top: 12.5rem;
    left: 40%;
  }


  & img {
    @include vp-1679 {
      @include size-height(120px, 180px, $vp-1280, $vp-1680);
      align-self: flex-end;
      }

    @include vp-1023 {
      height: 9rem;
      margin-bottom: -0.5rem;
      margin-right: 0.5rem;
    }

  
  }
}
