@use '/src/styles/mixins.scss';

.container {
  width: 100%;
  min-height: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 80px;

  @include mixins.vp-1279 {
    padding: 0 60  px;
  }

  @include mixins.vp-1023 {
    padding: 0 60px;
  }

  @include mixins.vp-767 {
    padding: 0 40px;
  }
}