// first font

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto";

    font-display: swap;
    src:
      url("/fonts/Roboto-Regular.woff2") format("woff2"),
      url("/fonts/Roboto-Regular.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";

    font-display: swap;
    src:
      url("/fonts/Roboto-Medium.woff2") format("woff2"),
      url("/fonts/Roboto-Medium.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto";

    font-display: swap;
    src:
      url("/fonts/Roboto-Bold.woff2") format("woff2"),
      url("/fonts/Roboto-Bold.woff") format("woff");
  }

  // second font

  @font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Geometria";

    font-display: swap;
    src:
      url("/fonts/Geometria-Regular.woff2") format("woff2"),
      url("/fonts/Geometria-Regular.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Geometria";

    font-display: swap;
    src:
      url("/fonts/Geometria-Medium.woff2") format("woff2"),
      url("/fonts/Geometria-Medium.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 800;
    font-family: "Geometria";

    font-display: swap;
    src:
      url("/fonts/Geometria-ExtraBold.woff2") format("woff2"),
      url("/fonts/Geometria-ExtraBold.woff") format("woff");
  }
